/* Add Global styles here */
table, th, td {
    border: 1px solid black;
    background-color: rgb(255, 173, 228);
    margin: 15px;
    padding: 6px;
}
.papple {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#papple-left {
    float: left;
}

.left {
    float: left;
}

h1 {
    text-align: center;
}
ol {
    margin: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
ol img {
    width: auto;
}
p {
    font-size: 20px;
    padding: 15px;
}
body {
    background-color: antiquewhite;
    margin: 0px;
}
main {
    margin-left: 15px;  
    margin-right: 15px;
    width: 81%;
}
img {
    border-color: blue;
    border-width: 2px;
    border-style: dotted;
    border-radius: 6.7px;
    margin: 15px;
}

#topPart {
    display: inline;
    
}

#topPart img {
    width: 400px;
}

.Link {
    color:black;
    text-decoration: none;
    margin-left: 0px;
}
.thingy {
    font-family: monospace;
    line-height: 0.9;
}

#chiiiicken {
    position: sticky; top: 65px;
    float: right;
    border-radius: 15px;
    margin: 1%;
    padding: 5px;
    border-style: dashed;
    border-color: red;
    width: 15%;
}

ol {
    font-size: 20px;
}

nav {
    position: sticky; top: 0px;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    background-color: rgb(255, 111, 255);
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav a {
    color: black;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
nav a:hover {
    background-color: rgb(151, 0, 151);
    color: white;
}
nav li {
    float: left;
}

#primary {
    background-color: rgb(203, 255, 203);
    margin: 5px;
}

#pizzaData {
    background-color: skyblue;
    padding: 15px;
    margin: 5px;

}

#piDayPicture {
    float: right;
    padding: 5px;
    margin: 5px;
    border-style: hidden;
}

#piDay {
    background-color: orange;
    padding: 15px;
    margin: 5px;
}

#more {
    display: none;
}
`
#myBtn {
    display: inline;
    margin-left: 20px;
    margin-top: 2px;
}

#firsth1 {
    padding: 70px;
}

#animContain {
    width: 1px;
    height: 1px;
    position: relative;
    background: none;
    border-color: black;
    border-radius: 1px;
}

#animation {
    width: 100px;
    height: 100px;
    position: absolute;
    background: none;
}

#completelyNormalPicture {
    border-style: solid;
    border-radius: 1px;
    border-color: black;
    margin: 0px;
    padding: 0px;
}

.buttonLoad {
    background-color: antiquewhite;
    border: white;
    color: black;
    padding: 12px 16px;
    font-size: 40px;
}

.cfish {
    text-decoration: underline;
}

.pizzas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.pizzas img {
    width: auto;
    height: 300px;
}

